@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --violet50: #f7f5fd;
  --violet100: #f1ecfb;
  --violet200: #e4dbf9;
  --violet300: #d0bff3;
  --violet400: #b79aeb;
  --violet500: #9f71e1;
  --violet600: #9052d5;
  --violet700: #8040c1;
  --violet800: #6b35a2;
  --violet900: #592d85;
  --violet950: #371b58;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.animation-line::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  transition: width 1.5s ease;
  background: linear-gradient(90deg, var(--violet500) 0%, var(--violet800) 100%);
}

.animation-line:hover:before{
  width: 100%;
}

.bg-main{
  background-color: var(--violet800);
}

.bg-aside{
  background-color: var(--violet900);
}

article:hover .animation-line::before{
  width: 100%;
}

.gridRow{
  grid-template-rows: auto repeat(3, 1fr);
}
                      
.pulse {
  animation-name: pulse;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1); opacity: 0.6;}
  50% {transform: scale(1.05); opacity: 0.8;}
  100% {transform: scale(1); opacity: 0.6;}
}
            
          